<li id="mixed_feed_item_<%= item.id %>">
  <strong class="title"><%= item.title %></strong>
  <span class="body"><%= item.body %></span>
  <span class="viewer"><%= Current.user.email %></span>
  <span class="vote"><%= item.current_vote_label %></span>
</li>
